
.results-page-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    text-align: center; 
}

.top-half {
    align-items: center;

}

.chart-display {
    align-items: left;
    padding-left: 10px;
}

.radar-text {
    align-items: top;
    padding-left: 300px;
    padding-top: 0px;
}